#
# @(#)$Id$
#
# Please specify your preferred default binary names for
# osh (osh_binary_name) and sh6 (sh6_binary_name) below.
#

#
# current default
#
osh_binary_name='etsh'
sh6_binary_name='tsh'

# alternate
#osh_binary_name='tsh'
#sh6_binary_name='tsh6'

# original (conflicts w/ omake)
#osh_binary_name='osh'
#sh6_binary_name='sh6'
